<script src="{{ .Site.BaseURL }}js/vendor/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
<!-- some scripts -->
<script src="{{ .Site.BaseURL }}js/vendor/jquery-3.2.1.min.js"></script>
<script src="{{ .Site.BaseURL }}js/vendor/popper-1.12.9.min.js"></script>
<script src="{{ .Site.BaseURL }}js/vendor/bootstrap-4.0.0.min.js"></script>
<script src="{{ .Site.BaseURL }}js/main.js"></script>

</html>