{{ $config := .Site.Data.config }}

<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>{{ .Site.Title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Including the bootstrap -->
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/vendor/bootstrap.min.css">
		<!-- Social Icon fonts -->
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/vendor/Socicon.css">

		<link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/styles.css">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/highlight.css">

		<!-- Font awesome -->
		<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/vendor/fontawesome-all.min.css">

	<!-- Meta tags -->
	<meta name="author" content="{{ $config.author }}">
	<meta name="theme-color" content="#000000">

	{{ range .AlternativeOutputFormats -}}
	<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" />
	{{ end -}}
		
	{{ partial "seo_schema.html" . }}

</head>
<body class="clearfix">
