{{ $skills := .Site.Data.skills }}

<section id="skills" class="aqua text-light">
  <h3 class="heading" style="font-size: 30px;">Coding</h3>
  {{ range $key, $value := $skills.coding }}

  <div class="skill">
    <span class="h6">{{ $key }}</span>
    <div class="progress">
      <div class="progress-bar bg-blue" role="progressbar" style="width: {{ $value }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  {{ end }}

  <h3 class="heading" style="font-size: 30px;">frameworks</h3>
  {{ range $key, $value := $skills.frameworks }}

  <div class="skill">
    <span class="h6">{{ $key }}</span>
    <div class="progress">
      <div class="progress-bar bg-blue" role="progressbar" style="width: {{ $value }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  {{ end }}  
  <h3 class="heading" style="font-size: 30px;">Tools</h3>
  {{ range $key, $value := $skills.tools }}

  <div class="skill">
    <span class="h6">{{ $key }}</span>
    <div class="progress">
      <div class="progress-bar bg-blue" role="progressbar" style="width: {{ $value }}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  {{ end }}
</section>